# Cache
*.DS_Store*


# Notebooks
*.ipynb_checkpoints*

# PEM
*.pem

# ENV
*.env

# Long datasets
*waterQuality1.csv
dataset_digits/
Bimestre 2023-4/Deep Learning/Semana 5/data/
Bimestre 2023-4/Deep Learning/Semana 6/data/
Bimestre 2024-3/Actividad Final de Graduación I/Semana 8/db.csv
Bimestre 2024-4/Actividad Final de Graduación II/**/**.csv
**/**/**/db.csv
